@page "/ForgotPassword"
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "/Areas/Identity/Pages/Shared/_LayoutAccount.cshtml";
}

  
    <div class="auth-box card">
        <div class="card-block">
        <form class="form-horizontal form-material" method="post">
            <div class="row m-b-20">
                <div class="col-md-12">
                    <h3 class="text-left">Khôi phục mật khẩu</h3>
                </div>
            </div>
            <div class="form-group">
                <input type="text" asp-for="Input.Email" class="form-control"  placeholder="Nhập số điện thoại hoặc email">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Reset mật khẩu</button>
                </div>
            </div>
            <p class="f-w-600 text-right">Quay lại <a href="/Login">đăng nhập.</a></p>            
            </form>             
        </div>
    </div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
