@page
@model PhoneNumberConfirmation
@{
       Layout = "/Areas/Identity/Pages/Shared/_LayoutAccount.cshtml";
    ViewData["Title"] = "Xác nhận mật khẩu";
}

  <style type="text/css">
  * {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body {
  background: #eee;
}
.text-center{
  text-align:center;
}
.account {
  width: 100%;
  max-width: 500px !important;
  height: 300px;
/*  position: absolute;
  top: 38%;
  left: 50%;*/
  transform: translate(-50%, -50%);
  background: #fff;
}

.cards {
  box-shadow: 0 0 2px 1px rgba(143, 1431, 143, 0.21) !important;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}

.card-header {
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.card-header p {
  margin-top: 13px;
  font-size: 13px;
}

.card-body {
  padding: 50px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.w-100 {
  width: 100% !important;
}

.col {
  max-width: 350px;
}

.card-footer {
  border-top: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
}

.btn {
  padding: 8px 22px;
  text-align: center;
  border-radius: 40px;
  color: #fff;
}

.btn-info {
  background: #46b2f0;
}

.activation-code-input {
  display: none;
}

.activation-code {
  direction: ltr;
  position: relative;
}

.activation-code::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-bottom: 2px solid;
  border-color: #ccc;
  transition: opacity 0.3s ease;
}

.activation-code > span {
  position: absolute;
  display: block;
  font-size: 13px;
  color: #ccc;
  top: 0;
  right: 0;
  transition: all 0.3s ease;
}

.activation-code .activation-code-inputs {
  display: flex;
  /*flex-direction: row;*/
  /*flex-wrap: nowrap;*/
  flex-flow: row nowrap;
}

.activation-code .activation-code-inputs input {
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  border: 0;
  outline: 0;
  min-width: 0;
  line-height: 36px;
  text-align: center;
  align-items: center;
  transition: all 0.3s ease;
  border-bottom: 2px solid;
  border-color: #ccc;
  margin-right: 8px;
  /*background: red;*/
  opacity: 0;
}

.activation-code .activation-code-inputs input:last-child {
  margin-right: 0;
}

.activation-code.active::before {
  opacity: 0;
}

.activation-code.active .activation-code-inputs input {
  opacity: 1 !important;
}

.activation-code .activation-code-inputs input:focus {
  border-color: #46b2f0 !important;
}

.activation-code.active > span {
  transform: translate(0, -100%);
  line-height: 30px;
  opacity: 0.6;
}

  </style>

<div >
  <div class="cards">
    <div class="card-header">
      <p class="text-center font-08-rem mt-13">Nhập CODE xác thực gửi về số điện thoại <span id="countdown" style="color:red;"></span></p>
      <p id="resent" class="text-center font-08-rem mt-13">Không nhận được CODE <a href="javascript:void(0)" onclick="resentSMS()">Gửi lại</a></p>
    </div>
    <form method="post">
     <input asp-for="Input.PhoneNumber" type="hidden" />
    <div class="card-body">
      <div class="row flex-center">
        <div class="col">
          <input asp-for="Input.Code" class="activation-code-input w-100 " placeholder="code">
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-info w-100">Xác nhận</button>
    </div>
    </form>
  </div>
</div>

@section Scripts
{
<script type="text/javascript">
$(document).ready(function () {
  $(".activation-code-input").activationCodeInput({
    number: 6
  });
  //timer
 countTimer();
});

function resentSMS()
{ 
    var phoneNum = document.getElementById("Input_PhoneNumber").value;
      $.ajax({
        type: "POST",
        url: "/Identity/Account/PhoneNumberConfirmation?handler=ResentSMS&phoneNumber=" + phoneNum,
         beforeSend: function (xhr) {
        xhr.setRequestHeader("XSRF-TOKEN",
                $('input:hidden[name="__RequestVerificationToken"]').val());
        },
         data: {
             phoneNumber : phoneNum
         },
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (response) {
          countTimer();
        },
        failure: function (response) {
           //alert("fai");
        },
        error: function (response) {
           //alert("error");
        }
    });
}

function countTimer()
{
 document.getElementById("resent").style.display = "none";
  var timeleft = 60;
    var downloadTimer = setInterval(function(){
      if(timeleft <= 0){
        clearInterval(downloadTimer);
        document.getElementById("countdown").innerHTML = "0";
        //Enable Resent
        document.getElementById("resent").style.display = "block";
      } else {
        document.getElementById("countdown").innerHTML = timeleft + " s";
        document.getElementById("resent").style.display = "none";
      }
      timeleft -= 1;
    }, 1000);
}
function inputFilter(e) {
  var key = e.keyCode || e.which;

  if (
    (!e.shiftKey && !e.altKey && !e.ctrlKey && key >= 48 && key <= 57) ||
    (key >= 96 && key <= 105) ||
    key == 8 ||
    key == 9 ||
    key == 13 ||
    key == 37 ||
    key == 39
  ) {
  } else {
    return false;
  }
}

jQuery.fn.activationCodeInput = function (options) {
  var defaults = {
    number: 4,
    length: 1
  };
  var settings = $.extend({}, defaults, options);
  // $('#log').append('options = ' + JSON.stringify(options));
  // $('#log1').append('defaults = ' + JSON.stringify(defaults));
  // $('#log2').append('settings = ' + JSON.stringify(settings));

  return this.each(function () {
    var self = $(this);
    var activationCode = $("<div />").addClass("activation-code");
    var placeHolder = self.attr("placeholder");
    // alert(placeHolder);
    activationCode.append($("<span />").text(placeHolder));
    self.replaceWith(activationCode);
    activationCode.append(self);

    var activationCodeInputs = $("<div />").addClass("activation-code-inputs");

    for (var i = 1; i <= settings.number; i++) {
      activationCodeInputs.append(
        $("<input />").attr({
          maxLength: settings.length,
          onkeydown: "return inputFilter(event)",
          oncopy: "return false",
          onpaste: "return false",
          oncut: "return false",
          ondrag: "return false",
          ondrop: "return false"
        })
      );
    }

    activationCode.prepend(activationCodeInputs);

    activationCode.on("click touchstart", function (event) {
      // console.log(event);
      // console.log(event.type);
      if (!activationCode.hasClass("active")) {
        activationCode.addClass("active");
        setTimeout(function () {
          activationCode
            .find(".activation-code-inputs input:first-child")
            .focus();
        }, 200);
      }
    });

    activationCode
      .find(".activation-code-inputs")
      .on("keyup input", "input", function (event) {
        // $(this).css('background','red');
        if (
          $(this).val().toString().length == settings.length ||
          event.keyCode == 39
        ) {
          $(this).next().focus();
          if ($(this).val().toString().length) {
            $(this).css("border-color", "#46b2f0");
          }
        }
        if (event.keyCode == 8 || event.keyCode == 37) {
          $(this).prev().focus();
          if (!$(this).val().toString().length) {
            $(this).css("border-color", "#ccc");
          }
        }
        var value = "";
        activationCode.find(".activation-code-inputs input").each(function () {
          // value = value + $(this).val().toString();
          value += $(this).val().toString();
        });
        self.attr({
          value: value
        });
      });

    $(document).on("click touchstart", function (e) {
      console.log(e.target);
      console.log($(e.target).parent());
      console.log($(e.target).parent().parent());
      // false true = false
      // true false = false
      // false false = false
      //true true = true
      if (
        !$(e.target).parent().is(activationCode) &&
        !$(e.target).is(activationCode) &&
        !$(e.target).parent().parent().is(activationCode)
      ) {
        var hide = true;

        activationCode.find(".activation-code-inputs input").each(function () {
          if ($(this).val().toString().length) {
            hide = false;
          }
        });
        if (hide) {
          activationCode.removeClass("active");
        } else {
          activationCode.addClass("active");
        }
      }
    });
  });
};

</script>
}