@page
@model ResetPasswordModel
@{
      Layout = "/Areas/Identity/Pages/Shared/_LayoutAccount.cshtml";
    ViewData["Title"] = "Reset mật khẩu";
}

    <div class="auth-box card">
        <div class="card-block">
        <form class="form-horizontal form-material" method="post">
            <div class="row m-b-20">
                <div class="col-md-12">
                    <h3 class="text-left">Cài đặt mật khẩu mới</h3>
                </div>
            </div>
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <input asp-for="Input.EmailConfirm" type="hidden" />
            <input asp-for="Input.Type" type="hidden" />
            <input asp-for="Input.PhoneNumber" type="hidden" />   
            <div class="form-group">
                
                <input asp-for="Input.Password" class="form-control" placeholder="Nhập mật khẩu mới"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Xác nhận mật khẩu"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Lưu</button>
                </div>
            </div>      
            </form>             
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
