@page "/Admin/Product/ProductBlockIndex"
<!-- .row -->
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">Danh sách block sản phẩm</h3>
            <p class="text-muted m-b-30 font-13"> Danh sách block sản phẩm </p>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="white-box">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            Tên khối block
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (lstProductBlock == null)
                                    {

                                    }
                                    else
                                    {
                                        @foreach (var item in lstProductBlock)
                                        {

                                            <tr>
                                                <td>
                                                    <div style="font-weight: 700;">
                                                        @item.Name
                                                    </div>
                                                </td>
                                                <td>
                                                    <div style="margin-top: 20px;">
                                                        <a href="javascript:void(0);" @onclick="() => ProductBlockProductShow(item.Id)">
                                                            <i class="fa fa-cog"></i>
                                                        </a>
                                                    </div>
                                                </td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ModalDynamicComponent @ref="PropertiesDynamicEdit" />
