   <!-- Sắp xếp theo sản phẩm -->
              <div class="products-category__right__filter">
                <div class="products-category__right__filter__label">
                  Sắp xếp theo sản phẩm
                </div>
                <div class="products-category__right__filter__form">
                  <form>
                    <select>
                      <option selected>Xem nhiều nhất</option>
                      <option value="thap-nhat">Giá thấp nhất</option>
                      <option value="moi-nhat">Mới nhất</option>
                      <option value="cao-nhat">Giá cao nhất</option>
                      <option value="mua-nhieu">Mua nhiều nhất</option>
                      <option value="freeship">Miễn phí vận chuyển</option>
                    </select>
                  </form>
                </div>
              </div>
              <!-- Hết phần Sắp xếp theo sản phẩm -->

              <!-- Danh sách sản phẩm -->
              <div class="products-category__list">
                <div class="products-category__box">
                  <div class="products__item">
                    <a href="#">
                      <div class="products__item__img">
                        <img src="/assets/themes/front/assets/images/products/9.jpg" alt="">
                      </div>
                      <span class="products__item__label">
                        -16%
                      </span>
                      <div class="products__item__info">
                        <div class="products__item__name">Chè Lam Sặt Trang Toàn - 1kg</div>
                        <div class="products__item__sold">
                          <div class="products__item__sold__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="products__item__sold__count">
                            <span>66 đã bán</span>
                          </div>
                        </div>
                        <div class="products__item__price">
                          <div class="products__item__new-price">109,000<sup>₫</sup></div>
                          <div class="products__item__old-price">130,000<sup>₫</sup></div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="products-category__box">
                  <div class="products__item">
                    <a href="#">
                      <div class="products__item__img">
                        <img src="/assets/themes/front/assets/images/products/10.jpg" alt="">
                      </div>
                      <span class="products__item__label">
                        -16%
                      </span>
                      <div class="products__item__info">
                        <div class="products__item__name">[Phú Thọ] Chè Xanh Bát Tiên Long Cốc 200g</div>
                        <div class="products__item__sold">
                          <div class="products__item__sold__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="products__item__sold__count">
                            <span>66 đã bán</span>
                          </div>
                        </div>
                        <div class="products__item__price">
                          <div class="products__item__new-price">109,000<sup>₫</sup></div>
                          <div class="products__item__old-price">130,000<sup>₫</sup></div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="products-category__box">
                  <div class="products__item">
                    <a href="#">
                      <div class="products__item__img">
                        <img src="/assets/themes/front/assets/images/products/11.jpg" alt="">
                      </div>
                      <span class="products__item__label">
                        -16%
                      </span>
                      <div class="products__item__info">
                        <div class="products__item__name">[Phú Thọ] Chè Xanh Bát Tiên Long Cốc 200g</div>
                        <div class="products__item__sold">
                          <div class="products__item__sold__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="products__item__sold__count">
                            <span>66 đã bán</span>
                          </div>
                        </div>
                        <div class="products__item__price">
                          <div class="products__item__new-price">109,000<sup>₫</sup></div>
                          <div class="products__item__old-price">130,000<sup>₫</sup></div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="products-category__box">
                  <div class="products__item">
                    <a href="#">
                      <div class="products__item__img">
                        <img src="/assets/themes/front/assets/images/products/12.jpg" alt="">
                      </div>
                      <span class="products__item__label">
                        -16%
                      </span>
                      <div class="products__item__info">
                        <div class="products__item__name">[Phú Thọ] Chè Xanh Bát Tiên Long Cốc 200g</div>
                        <div class="products__item__sold">
                          <div class="products__item__sold__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="products__item__sold__count">
                            <span>66 đã bán</span>
                          </div>
                        </div>
                        <div class="products__item__price">
                          <div class="products__item__new-price">109,000<sup>₫</sup></div>
                          <div class="products__item__old-price">130,000<sup>₫</sup></div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="products-category__box">
                  <div class="products__item">
                    <a href="#">
                      <div class="products__item__img">
                        <img src="/assets/themes/front/assets/images/products/13.jpg" alt="">
                      </div>
                      <span class="products__item__label">
                        -16%
                      </span>
                      <div class="products__item__info">
                        <div class="products__item__name">[Phú Thọ] Chè Xanh Bát Tiên Long Cốc 200g</div>
                        <div class="products__item__sold">
                          <div class="products__item__sold__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="products__item__sold__count">
                            <span>66 đã bán</span>
                          </div>
                        </div>
                        <div class="products__item__price">
                          <div class="products__item__new-price">109,000<sup>₫</sup></div>
                          <div class="products__item__old-price">130,000<sup>₫</sup></div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="products-category__box">
                  <div class="products__item">
                    <a href="#">
                      <div class="products__item__img">
                        <img src="/assets/themes/front/assets/images/products/14.jpg" alt="">
                      </div>
                      <span class="products__item__label">
                        -16%
                      </span>
                      <div class="products__item__info">
                        <div class="products__item__name">[Phú Thọ] Chè Xanh Bát Tiên Long Cốc 200g</div>
                        <div class="products__item__sold">
                          <div class="products__item__sold__rating">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="products__item__sold__count">
                            <span>66 đã bán</span>
                          </div>
                        </div>
                        <div class="products__item__price">
                          <div class="products__item__new-price">109,000<sup>₫</sup></div>
                          <div class="products__item__old-price">130,000<sup>₫</sup></div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="products-category__box">
                  <div class="products__item">
                    <a href="#">
                      <div class="products__item__img">
                        <img src="/assets/themes/front/assets/images/products/1.jpg" alt="">
                      </div>
                      <span class="products__item__label">
                        -16%
                      </span>
                      <div class="products__item__info">
                        <div class="products__item__name">[Phú Thọ] Chè Xanh Bát Tiên Long Cốc 200g</div>
                        <div class="products__item__sold">
                          <div class="products__item__sold__rating">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                          </div>
                          <div class="products__item__sold__count">
                            <span>66 đã bán</span>
                          </div>
                        </div>
                        <div class="products__item__price">
                          <div class="products__item__new-price">109,000<sup>₫</sup></div>
                          <div class="products__item__old-price">130,000<sup>₫</sup></div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="products-category__box">
                  <div class="products__item">
                    <a href="#">
                      <div class="products__item__img">
                        <img src="/assets/themes/front/assets/images/products/2.jpg" alt="">
                      </div>
                      <span class="products__item__label">
                        -16%
                      </span>
                      <div class="products__item__info">
                        <div class="products__item__name">[Phú Thọ] Chè Xanh Bát Tiên Long Cốc 200g</div>
                        <div class="products__item__sold">
                          <div class="products__item__sold__rating">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                          </div>
                          <div class="products__item__sold__count">
                            <span>66 đã bán</span>
                          </div>
                        </div>
                        <div class="products__item__price">
                          <div class="products__item__new-price">109,000<sup>₫</sup></div>
                          <div class="products__item__old-price">130,000<sup>₫</sup></div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <!-- Hết phần Danh sách sản phẩm -->

              <!-- pagination -->
              <div class="pagination-box">
                <ul class="pagination justify-content-center" style="margin:20px 0">
                  <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                </ul>
              </div>
              <!-- end pagination -->
       